extends typescript

global !p
# Capitalize the first letter without affecting the rest of the letters
def capitalize_first(word):
	if(word):
		word = word[0].upper() + word[1:]
	return word
endglobal

snippet ust
const [$1, set`!p snip.rv=capitalize_first(t[1])`] = useState($0)
endsnippet

snippet usf
useEffect(() => {
$0
}, [$1])
endsnippet
